.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9fa2f5;
  min-height: 10vh; 
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.img{
  height: 400px !important;
  width: 400px !important;;
}

.my-btn{
  background-color: #d9dafa !important;
  border-color: #d9dafa !important;

}
